*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
}

header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    background-color: rgba(22, 27, 34, 0.9);
    height: 4rem;
}

header div{
    display: flex;
    align-items: center;
    gap: 2rem;
}

h1{
    color: whitesmoke;
    font-family: 'Bruno Ace SC', cursive;
}

header button{
    display: block;
    border: 0;
    outline: 0;
    background: transparent;
    color: beige;
    position: relative;
    height: 1rem;
    transition: all 0.4s;
}

header button a{
    color: beige;
    text-decoration: none;
    transition: all 0.4s;
}

header button:hover, a:hover{
    color: rgb(49, 179, 72);
}

header button:hover::after{
    left: 0;
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    margin-top: 2rem;
    bottom: 0;
    background-color: rgb(49, 179, 72);
}

.menu{
    display: flex;
    flex-direction: column;
}

.menu:hover .itens{
    display: block;
}

.itens{
    position: absolute;
    display: none;
    margin-top: 1rem;
    margin-left: 10px;
    padding: 8px;
    background-color: rgba(22, 27, 34, 0.9);
}

.itens button{
    margin-top: 8px;
    background: transparent;
}

main{
    height: calc(100vh - 4rem);
}